sudo: false
git:
  depth: 1
addons:
  apt:
    packages:
    - curl
    - bsdtar
jdk:
  - oraclejdk8
env:
  - STYLE_VERSION="0.1.3-SNAPSHOT" BOOTSTRAP_VER="3.3.7"
script:
  - sh -x ./build.sh
  - mvn clean
  - mvn package -Pcss-with-bootstrap
  - mvn package -Pless-with-bootstrap
  - mvn package -Pless-without-bootstrap
  - sh -c "./src/main/script/maven-deploy.sh --settings .maven-settings.xml"
deploy:
  api_key:
    secure: "$DEPLOY_OAUTH_TOKEN"
  file:
    - "release-${STYLE_VERSION}.tgz"
    - "src/main/less/variables.less"
    - "src/main/less/clarin-additions.less"
    - "target-css-with-bootstrap/base-style-${STYLE_VERSION}-css-with-bootstrap.jar"
    - "target-less-with-bootstrap/base-style-${STYLE_VERSION}-less-with-bootstrap.jar"
    - "target-less-without-bootstrap/base-style-${STYLE_VERSION}-less-without-bootstrap.jar"
  on:
    tags: true
  overwrite: true
  provider: releases
  skip_cleanup: true
notifications:
  email:
    on_success: change
    on_failure: always
